<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Enter details</h1>
        <form method="post" action="/contact">
            <span>Topic:</span> <input type="text" name="topic"/><br/>
            <span>Content:</span> <input type="text" name="content"/><br/>
            <span>Name:</span> <input type="text" name="name"/><br/>
            <span>Email:</span> <input type="email" name="email"/><br/>
            <input type="submit" value="Send" style="margin-top: 10px;"/>
        </form>
  </body>
</html>
